* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*Поставила flex*/
.conteiner {
 display: flex;
 justify-content: center;
}

.grid__conteiner {
 width: 100%;
 max-width: 1200px;
 height: 100vh;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto 1fr auto;
}

.header {
 background-color: darkseagreen;
}

.nav__conteiner {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 grid-auto-rows: 50px;
 grid-gap: 10px;
 list-style-type: none;
 padding-left: 60px;
 padding-bottom: 10px;
}

.button {
 font-size: 20px;
 color: rgb(53, 51, 51);
 border: none;
 background-color: rgb(244, 244, 244);
 padding: 10px 15px;
 border-radius: 22px;
}

.header__title,
.main__title,
.footer__title {
 color: aliceblue;
 text-align: center;
 font-size: 50px;
 text-transform: uppercase;
}

.main {
 background-color: steelblue;
 display: grid;
 align-content: flex-end;
}

.main__conteiner {
 display: grid;
 grid-template-columns: repeat(4, minmax(50px, 1fr));
 grid-template-rows: 50px 50px 50px 50px 50px;
 grid-gap: 20px;
 padding: 100px 20px 50px 20px;
}

.main__item {
 background-color: rgb(51, 51, 182);
 color: aliceblue;
 font-size: 20px;
 display: grid;
 align-items: center;
 justify-items: center;
 font-size: 50px;
}

.three {
 grid-row-start: 1;
 grid-row-end: 3;
 grid-column-start: 3;
 grid-column-end: 5;
}

.six {
 grid-row-start: 3;
 grid-row-end: 5;
 grid-column-start: 1;
 grid-column-end: 3; 
}

.nine {
 grid-row-start: 4;
 grid-row-end: 6;
 grid-column-start: 3;
 grid-column-end: 5;
}

.footer {
 padding: 0;
 background-color: skyblue;
}